@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Myriad Pro";
  src: url("./../fonts/AnyConv.com__Myriad Bold Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("./../fonts/myriad-pro-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("./../fonts/MYRIADPRO-BOLD.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("./../fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("./../fonts/MYRIADPRO-REGULAR.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("./../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.active {
  color: #f1ac11;
  transition: 0.3s;
}
.active:hover {
  color: #fff;
}

a {
  color: #fff;
  transition: 0.3s;
}
a:hover {
  color: #f1ac11;
}

body {
  background-color: #ccc;
  font-family: "Myriad Pro";
}

.container {
  width: 100%;
  max-width: 1950px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
}

.nav__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav__logo {
  margin-top: 40px;
  margin-left: -84px;
  cursor: pointer;
}

.nav__menu {
  margin-right: -33px;
  margin-top: 45px;
}

.nav__list {
  display: flex;
  gap: 65px;
}

.nav__link {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.nav__link.active::after {
  content: "";
  position: absolute;
  top: 128px;
  left: 650px;
  width: 112px;
  height: 3px;
  background-color: #f1ac11;
  z-index: 1;
}

.active {
  color: #f1ac11;
}