@use "./zeroing.scss";

@font-face {
	font-family: "Myriad Pro";
	src: url("./../fonts/AnyConv.com__Myriad\ Bold\ Italic.woff") 	format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Myriad Pro";
	src: url("./../fonts/myriad-pro-light-italic.woff") 	format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Myriad Pro";
	src: url("./../fonts/MYRIADPRO-BOLD.woff") 	format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "Myriad Pro";
	src: url("./../fonts/MyriadPro-Light.woff") 	format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Myriad Pro";
	src: url("./../fonts/MYRIADPRO-REGULAR.woff") 	format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Myriad Pro";
	src: url("./../fonts/MYRIADPRO-SEMIBOLD.woff") 	format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
