@use "./zeroing.scss";

@font-face {
  font-family: "Myriad Bold Italic";
  src: url("./../fonts/AnyConv.com__Myriad\ Bold\ Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "myriad-pro-light-italic";
  src: url("./../fonts/myriad-pro-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "MYRIADPRO-BOLD.";
  src: url("./../fonts/MYRIADPRO-BOLD.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro-Light";
  src: url("./../fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: url("./../fonts/MYRIADPRO-REGULAR.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MYRIADPRO-SEMIBOLD";
  src: url("./../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

//? ------------------------------

$bg-act: #f1ac11;
$col-act: $bg-act;
$bg-body: #282828;

.active {
  color: $col-act;
  transition: 0.3s linear;

  &:hover {
    color: $col-act;
  }
}

a {
  color: #fff;
  transition: 0.3s;

  &:hover {
    color: $col-act;
  }
}

.none {
  display: none !important;
}

//? /-----------------------------------

body {
  background-color: $bg-body;
}

////? ------------ CONTAINER --------------------

.container {
  max-width: 1940px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}

//.container--sm {
//  width: 1400px;
//  padding: 0 10px;
//margin: 0 auto;
//}

//? ------------- NAV ---------------------
.nav {
  position: absolute;
  top: 43px;
  left: 100px;
  z-index: 50;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  margin-left: -12px;

}

.nav__list {
  display: flex;
  gap: 55px;
  margin-left: 410px;
}

.nav__link {
  font-size: 22px;
  font-family: "Myriad Bold Italic", sans-serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.05rem;
  position: relative;

}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: $bg-act;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.3s linear;
}

.nav__link:hover::after {
  opacity: 1;
}

//? ------------ HEADER ------------------------

.header__content {
  background-image: url(./../image/header/bg.jpg);
  background-size: cover;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  height: 1101px;
  max-width: 1920px;
}

.header__row {
  display: flex;
  padding-top: 350px;
  justify-content: space-between;
  position: relative;
}

.block-left {
  position: absolute;
  left: 45px;
  top: 430px;
  z-index: 1;
  opacity: .4;
  transition: .3s linear;

  &:hover {
    opacity: .8;
    transform: scale(1.02);
  }
}

.block-left__btn {
  position: absolute;
  top: 170px;
  left: 145px;
  z-index: 1;
  cursor: pointer;
}

.block-center {
  //width: 100%;
  position: absolute;
  left: 760px;
  top: 370px;
  z-index: 1;
  transition: .3s linear;
  opacity: .4;

  &:hover {
    opacity: .9;
    transform: scale(1.02);
  }
}

.block-center__btn {
  position: absolute;
  top: 175px;
  left: 146px;
  z-index: 1;
  cursor: pointer;
}

.block-right {
  // width: 100%;
  position: absolute;
  left: 1440px;
  top: 426px;
  z-index: 1;
  opacity: .4;
  transition: .3s linear;

  &:hover {
    opacity: .8;
    transform: scale(1.02);
  }
}

.block-right__img:hover .block-center__img {
  transition: .3s linear;
  opacity: 0;
}

.block-right__btn {
  position: absolute;
  top: 175px;
  left: 150px;
  z-index: 1;
  cursor: pointer;
}

//? -------------- daily-menu ---------------------

.daily-menu__content {
  padding-top: 70px;
  background-color: #fff;
  position: relative;
  height: 1000px;
  z-index: 1;
}

.daily-menu__title {
  font-size: 42px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  color: rgb(241, 172, 17);
  letter-spacing: .09rem;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

.suptitle__img {
  margin-right: 14px;
  margin-top: 3px;
}

.suptitle {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: rgb(43, 43, 43);
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .045rem;
  position: absolute;
  left: 513px;
  top: 150px;
  z-index: 1;
}

.menu-list {
  max-width: 1000px;
  margin-top: 100px;
  margin: 82px 0px 0px 510px;

}

.item-1__img {
  margin-right: 80px;
  margin-bottom: 41px;
}

.item-3__img {
  margin-right: 80px;
  margin-bottom: 41px;
}

.item-5__img {
  margin-right: 80px;
  margin-bottom: 100px;
}

.frame__img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.assorted__img {
  position: absolute;
  left: 510px;
  z-index: 1;
}

.subtitle {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: $col-act;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .03rem;
  position: absolute;
  top: 651px;
  left: 990px;
  z-index: 1;
}

.frame__content-title {
  max-width: 300px;
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(43, 43, 43);
  font-style: italic;
  letter-spacing: .08rem;
  text-transform: uppercase;
  position: absolute;
  left: 990px;
  top: 677px;
  z-index: 1;
}

.frame__content-text {
  max-width: 320px;
  font-size: 14px;
  font-family: "Myriad Pro";
  font-weight: 400;
  color: rgb(212, 212, 212);
  word-spacing: .076rem;
  letter-spacing: .02em;
  line-height: 1.2;
  font-style: italic;
  text-align: left;

  position: absolute;
  left: 990px;
  top: 750px;
  z-index: 1;
}

.button__img {
  position: absolute;
  left: 991px;
  top: 857px;
  z-index: 1;
}

.button__txt {
  position: absolute;
  left: 1005px;
  top: 867px;
  z-index: 1;
}

.next-offer__img {
  position: absolute;
  left: 1433px;
  top: 768px;
  z-index: 1;
}

.arrow__img {
  position: absolute;
  left: 1512px;
  top: 764px;
  z-index: 1;
}